.primero {
    background-color: white;
    border: solid #ff6600;
    margin-right: 1000px;
    padding: 10px 5px 0px 10px;
    
}
.segundo {
    border: solid #ff6600;
    margin-right: 1000px;
    padding: 10px 5px 0px 10px;
    margin-top: 15px;
}
.tercero {
    margin-right: 1000px;
    margin-top: 15px;
    border: solid #ff6600;
    padding: 10px;
    
}
p {
    font-family: serif;
    font-size: 17px;
    
}
