.lenguaje {
    margin-right: 1000px;
    border: solid #ff6600;
    
}
.emprendimiento {
    margin-right: 1000px;
    border: solid #ff6600;
}
.aprender {
    margin-right: 1000px;
    border: solid #ff6600;
    border-bottom-color: white;
}
p {
    padding: 10px;
    font-size: 17px;
    
}